.navbar {
    background-color: #001f3f !important;
    padding: 0;
}

.navbar-brand {
    padding: 4px 0 4px 10px;
}

.logo {
    width: 45px;
    height: 40px;
}

.dropdown-menu {
    background-color: #001f3f !important;
    border: none;
    margin-top: 0;
    border-radius: unset;
}

.dropdown-item {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: #003873;
}

.nav-link {
    color: white !important;
    font-weight: bold !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.firstNavbar .nav-link:hover {
    background-color: #003873;
}

.secondNavbar .nav-link:hover {
    background-color: #003873;
}

button {
    background: none; 
    border: none;
}

.active {
    background-color: #0d0e0f;
    color: white !important;
}

.dropdown-item.active:focus {
    background-color: #003873;
}

.showOnlyOnMobile
{
    display: none;
}


.authenticationButton 
{
    text-align: left;
}

.secondNavbar
{
    margin-top: 50px !important;
    background-color: #001a33 !important;
}

.secondNavbarListItem a
{
    padding: 12px !important;
}

.authenticationButton:focus {
    background-color: #003873;
    outline: none;
}

.dropdown-item:focus {
    background-color: #003873;
    outline: none;
}

@media screen and (max-width: 576px) {
    .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 992px) 
{   
    .navbar-nav li #navbardrop {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .authenticationButton 
    {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 991px) 
{   
    .secondNavbar
    {
        display: none;
    }

    .logoutNav 
    {
        padding-bottom: 10px;
    }
    
    .showOnlyOnMobile 
    {
        display: block;
    }

    .authenticationButton 
    {
        width: 100%;
    }

    .dropdown-item
    {
        padding-left: 30px;
    }
}