<!-- Current component path. -->
<nav aria-label="breadcrumb" *ngIf="loaded">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/matches/all">Matches</a>
        </li>
        <li *ngIf="match.ID != 0" class="breadcrumb-item">Edit match</li>
        <li *ngIf="match.ID === 0" class="breadcrumb-item">New match</li>
    </ol>
</nav>

<!-- Match input / edit form. -->
<div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <div class="formControlsContainer">
            <form #form="ngForm" [formGroup]="service.form" (submit)="onSubmit(form)">
                <!-- Match ID. -->
                <input type="hidden" formControlName="ID">

                <!-- Match date. -->
                <mat-form-field class="datePickerContainer">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>Date has to be selected!</mat-error>
                </mat-form-field>

                <!-- Match time. -->
                <mat-form-field class="timePickerContainer">
                    <mat-label>Time</mat-label>
                    <mat-select formControlName="Time" [(ngModel)]="selectedTime">
                        <mat-option *ngFor="let timeValue of timeList" [value]="timeValue">
                            {{timeValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Time has to be selected!</mat-error>
                </mat-form-field>

                <!-- Sport. -->
                <mat-form-field>
                    <mat-label>Sport</mat-label>
                    <mat-select formControlName="SportID" [(ngModel)]="selectedSportID"
                        (ngModelChange)="onSelectSport()">
                        <mat-option *ngFor="let sport of sports" [value]="sport.ID">
                            {{sport.Name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Sport has to be selected!</mat-error>
                </mat-form-field>

                <!-- Competition. -->
                <mat-form-field>
                    <mat-label>Competition</mat-label>
                    <mat-select formControlName="CompetitionID" [(ngModel)]="selectedCompetitionID"
                        (ngModelChange)="onSelectCompetition()">
                        <mat-option *ngFor="let competition of competitions" [value]="competition.ID">
                            {{competition.Name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Competition has to be selected!</mat-error>
                </mat-form-field>

                <!-- Home team. -->
                <mat-form-field>
                    <mat-label>Home team</mat-label>
                    <mat-select formControlName="HomeTeamID" [(ngModel)]="selectedHomeTeamID">
                        <mat-option *ngFor="let hteam of teams" [value]="hteam.ID">
                            {{hteam.Name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Home team has to be selected!</mat-error>
                </mat-form-field>

                <!-- Away team. -->
                <mat-form-field>
                    <mat-label>Away team</mat-label>
                    <mat-select formControlName="AwayTeamID" [(ngModel)]="selectedAwayTeamID">
                        <mat-option *ngFor="let ateam of teams" [value]="ateam.ID">
                            {{ateam.Name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Away team has to be selected!</mat-error>
                </mat-form-field>

                <!-- Half time home team score. -->
                <mat-form-field>
                    <mat-label>Half time home team score</mat-label>
                    <input matInput formControlName="HalfTimeHomeTeamScore">
                </mat-form-field>

                <!-- Half time away team score. -->
                <mat-form-field>
                    <mat-label>Half time away team score</mat-label>
                    <input matInput formControlName="HalfTimeAwayTeamScore">
                </mat-form-field>

                <!-- Home team score. -->
                <mat-form-field>
                    <mat-label>Home team score</mat-label>
                    <input matInput formControlName="HomeTeamScore">
                </mat-form-field>

                <!-- Away team score. -->
                <mat-form-field>
                    <mat-label>Away team score</mat-label>
                    <input matInput formControlName="AwayTeamScore">
                </mat-form-field>

                <!-- Form submit button. -->
                <button mat-flat-button color="primary" type="submit" [disabled]="!service.form.valid"
                    class="submitButton">Submit</button>
            </form>
        </div>
    </div>
</div>