<!-- Competition list. -->
<div class="row">
    <div class="col-xl-12">
        <div class="mainTitle">
            Competitions
        </div>
    </div>
</div>

<div class="searchDiv marginBottom">
    <mat-form-field class="searchFormField" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">

        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()" title="Clear search">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<div class="row">
    <div class="col-xl-12">
        <mat-table [dataSource]="listData" class="listTable" matSort>
            <ng-container matColumnDef="Name">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="sortingHeaderCell">
                    <strong>COMPETITION</strong>
                </mat-header-cell>

                <mat-cell *matCellDef="let competition">
                    {{competition.Name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ChildrenEntityList">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let competition">
                    <a [routerLink]="['/teams-per-competition/', competition.ID]" title="List of clubs">
                        <i class="fas fa-th-list fa-lg iconFontSize"></i>
                    </a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Edit">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let competition">
                    <a [routerLink]="['/edit-competition/', competition.ID]" title="Edit">
                        <i class="fas fa-pen fa-lg text-warning iconFontSize"></i>
                    </a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Delete">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let competition" (click)="onDelete(competition.ID)">
                    <a [routerLink]="" title="Delete">
                        <i class="far fa-trash-alt fa-lg text-danger iconFontSize"></i>
                    </a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No teams.
                </mat-footer-cell>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData != null}"></mat-footer-row>

            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide': !(listData != null && listData.data.length == 0)}"></mat-footer-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="20" showFirstLastButtons></mat-paginator>
    </div>
</div>