.isInvalid{
    border: 1px solid red;
}
.isValid{
    border: 1px solid green !important;
}

.wrapper {
    padding-top: 20px !important;
}

.wrapped-div{
    padding-top: 20px !important;
    padding-bottom: 10px !important;
}