<!-- Sport input / edit form. -->
<div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <div class="mainTitle">
            <span *ngIf="sport.ID == 0">New sport</span>
            <span *ngIf="sport.ID != 0">Edit sport</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <div class="formControlsContainer">
            <!-- Form. -->
            <form #form="ngForm" [formGroup]="service.form" (submit)="onSubmit(form)">
                <!-- Sport ID. -->
                <input type="hidden" formControlName="ID">

                <!-- Sport name. -->
                <mat-form-field>
                    <mat-label>Sport name</mat-label>
                    <input matInput formControlName="Name">
                    <mat-error>Sport name is required!</mat-error>
                </mat-form-field>

                <!-- Form submit button. -->
                <button mat-flat-button color="primary" type="submit" [disabled]="!service.form.valid || service.form.pristine"
                    class="submitButton">Submit</button>
            </form>
        </div>
    </div>
</div>