<!-- Match list. -->
<div class="row">
    <div class="col-xl-12">
        <div class="mainTitle">
            Matches
        </div>
    </div>
</div>

<!-- Date picker. -->
<div class="dateContainer">
    <button (click)="reduceDate()" class="dateSwitchButton"><i class="fas fa-arrow-left"></i></button>
    <div class="currentDateDiv">{{currentSelectedDateString}}</div>
    <button (click)="increaseDate()" class="dateSwitchButton"><i class="fas fa-arrow-right"></i></button>
</div>

<!-- Search field. -->
<div class="searchDiv">
    <mat-form-field class="searchFormField" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">

        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<!-- Data table. -->
<div class="row">
    <div class="col-xl-12">
        <mat-table [dataSource]="listData" class="listTable">
            <!-- Match time. -->
            <ng-container matColumnDef="Time">
                <mat-cell *matCellDef="let match">{{match.Time}}</mat-cell>
            </ng-container>

            <!-- Home team name. -->
            <ng-container matColumnDef="HomeTeam">
                <mat-cell *matCellDef="let match">
                    {{match.HomeTeam}}
                </mat-cell>
            </ng-container>

            <!-- "-" -->
            <ng-container matColumnDef="DashCell">
                <mat-cell *matCellDef="let match">-</mat-cell>
            </ng-container>

            <!-- Away team name. -->
            <ng-container matColumnDef="AwayTeam">
                <mat-cell *matCellDef="let match">
                    {{match.AwayTeam}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="EditOrDelete">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let match">
                    <a [routerLink]="['/edit-match/', match.ID]" title="Edit">
                        <i class="fas fa-pen fa-lg text-warning iconFontSize"></i>
                    </a>

                    <span class="emptySpace">&nbsp;</span>

                    <a [routerLink]="" title="Delete" (click)="onDelete(match.ID)">
                        <i class="far fa-trash-alt fa-lg text-danger iconFontSize"></i>
                    </a>
                </mat-cell>
            </ng-container>

            <!-- This will show up while loading data. -->
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                </mat-footer-cell>
            </ng-container>

            <!-- This will show up if there is no matches on today's date. -->
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    There are no matches on this day.
                </mat-footer-cell>
            </ng-container>

            <!-- Initialization of table rows. -->
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData != null}"></mat-footer-row>

            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide': !(listData != null && listData.data.length == 0)}"></mat-footer-row>
        </mat-table>

        <!-- Pagination. -->
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
</div>