<!-- Ice hockey match list. -->
<div class="row">
    <div class="col-xl-12">
        <div class="mainTitle">
            Ice hockey matches
        </div>
    </div>
</div>

<!-- Date picker. -->
<div class="dateContainer">
    <!-- Day before the current one. -->
    <button (click)="reduceDate()" class="dateSwitchButton">
        <i class="fas fa-arrow-left"></i>
    </button>

    <!-- Current date. -->
    <div class="currentDateDiv">{{currentSelectedDateString}}</div>

    <!-- Day afther the current one. -->
    <button (click)="increaseDate()" class="dateSwitchButton">
        <i class="fas fa-arrow-right"></i>
    </button>
</div>

<!-- Search field. -->
<div class="searchDiv">
    <mat-form-field class="searchFormField" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">

        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<!-- Data table. -->
<div class="row">
    <div class="col-xl-12">
        <mat-table [dataSource]="listData" class="listTable">
            <!-- Match time. -->
            <ng-container matColumnDef="Time">
                <mat-cell *matCellDef="let match">{{match.Time}}</mat-cell>
            </ng-container>

            <!-- Team names. -->
            <ng-container matColumnDef="TeamNames">
                <mat-cell *matCellDef="let match">
                    {{match.HomeTeam}}
                    <br /><br />
                    {{match.AwayTeam}}
                </mat-cell>
            </ng-container>

            <!-- First period score. -->
            <ng-container matColumnDef="FirstPeriodScore">
                <mat-cell *matCellDef="let match">
                    {{match.FirstPeriodHomeTeamScore}}
                    <br /><br />
                    {{match.FirstPeriodAwayTeamScore}}
                </mat-cell>
            </ng-container>

            <!-- Second period score. -->
            <ng-container matColumnDef="SecondPeriodScore">
                <mat-cell *matCellDef="let match">
                    {{match.SecondPeriodHomeTeamScore}}
                    <br /><br />
                    {{match.SecondPeriodAwayTeamScore}}
                </mat-cell>
            </ng-container>

            <!-- Third period score. -->
            <ng-container matColumnDef="ThirdPeriodScore">
                <mat-cell *matCellDef="let match">
                    {{match.ThirdPeriodHomeTeamScore}}
                    <br /><br />
                    {{match.ThirdPeriodAwayTeamScore}}
                </mat-cell>
            </ng-container>

            <!-- Final score. -->
            <ng-container matColumnDef="FinalScore">
                <mat-cell *matCellDef="let match">
                    {{match.FinalHomeTeamScore > 0 ? match.FinalHomeTeamScore : '-'}}
                    <br /><br />
                    {{match.FinalAwayTeamScore > 0 ? match.FinalAwayTeamScore : '-'}}
                </mat-cell>
            </ng-container>

            <!-- This will show up while loading data. -->
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                </mat-footer-cell>
            </ng-container>

            <!-- This will show up if there are no matches on today's date. -->
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    There are no matches on this day.
                </mat-footer-cell>
            </ng-container>

            <!-- Initialization of table rows. -->
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData != null}"></mat-footer-row>

            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide': !(listData != null && listData.data.length == 0)}"></mat-footer-row>
        </mat-table>

        <!-- Pagination. -->
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
</div>