table 
{
    width: 100%;
    display: initial;
}

.borderBottom 
{
    border-bottom: 1px solid black;
}

.mat-column-Time 
{
    flex: 0 0 15%;
}

.mat-column-HomeTeam 
{
    flex: 0 0 27%;
    justify-content: flex-end !important;
}

.mat-column-AwayTeam 
{
    flex: 0 0 27%;
    justify-content: flex-start !important;
}

.mat-column-HomeTeamScore 
{
    flex: 0 0 7%;
    justify-content: flex-end !important;
}

.mat-column-DashCell 
{
    flex: 0 0 2%;
    justify-content: center;
}

.mat-column-AwayTeamScore 
{
    flex: 0 0 7%;
    justify-content: flex-start !important;
}

.mat-column-HalfTimeScore 
{
    flex: 0 0 15%;
    justify-content: flex-end !important;
}

.halfTimeScore 
{
    color: #91908d;
}