<!-- Search field. -->
<div class="searchDiv">
    <mat-form-field class="searchFormField" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">

        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()" title="Clear search">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<!-- Data table. -->
<div class="row">
    <div class="col-xl-12">
        <mat-table [dataSource]="listData" class="listTable">
            <!-- Match time. -->
            <ng-container matColumnDef="Time">
                <mat-cell *matCellDef="let match">{{ match.Time }}</mat-cell>
            </ng-container>

            <!-- Home team name. -->
            <ng-container matColumnDef="HomeTeam">
                <mat-cell *matCellDef="let match">
                    {{ match.HomeTeam }}
                </mat-cell>
            </ng-container>

            <!-- Home team score. -->
            <ng-container matColumnDef="HomeTeamScore">
                <mat-cell *matCellDef="let match">
                    {{ match.HomeTeamScore }}
                </mat-cell>
            </ng-container>

            <!-- "-" -->
            <ng-container matColumnDef="DashCell">
                <mat-cell *matCellDef="let match">-</mat-cell>
            </ng-container>

            <!-- Away team score. -->
            <ng-container matColumnDef="AwayTeamScore">
                <mat-cell *matCellDef="let match">
                    {{ match.AwayTeamScore }}
                </mat-cell>
            </ng-container>

            <!-- Away team name. -->
            <ng-container matColumnDef="AwayTeam">
                <mat-cell *matCellDef="let match">
                    {{ match.AwayTeam }}
                </mat-cell>
            </ng-container>

            <!-- Half time score. -->
            <ng-container matColumnDef="HalfTimeScore">
                <mat-cell *matCellDef="let match">
                    <span *ngIf="match.HalfTimeScore.length > 3" class="halfTimeScore">({{ match.HalfTimeScore }})</span>
                </mat-cell>
            </ng-container>

            <!-- This will show up while loading data. -->
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading data...
                </mat-footer-cell>
            </ng-container>

            <!-- This will show up if there are no matches on today's date. -->
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    There are no matches today.
                </mat-footer-cell>
            </ng-container>

            <!-- Initialization of table rows. -->
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData != null}"></mat-footer-row>

            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide': !(listData != null && listData.data.length == 0)}"></mat-footer-row>
        </mat-table>

        <!-- Pagination. -->
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
</div>